<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gulimall.com: Online Shopping</title>
    <link rel="stylesheet" type="text/css" href="/static/item/scss/shop.css"/>
    <link rel="stylesheet" href="/static/index/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/index/css/GL.css">
    <script src="/static/index/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/index/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/index/js/swiper-3.4.2.min.js"></script>
</head>
<body>
<div class="top_find">
    <div class="top_find_son">
        <img src="/static/index/img/top_find_logo.png" alt="">
        <div class="input_find">
            <input type="text" placeholder="Makeup remover"/>
            <span style="background: url('/static/index/img/img_12.png') 0 -1px;"></span>
            <a href="/static/#"><img src="/static/index/img/img_09.png"/></a>
        </div>
    </div>
</div>
<ul class="left_floor">
    <li class="left_floor_xiang">Enjoy Quality</li>
    <li class="left_floor_fu">Apparel Beauty</li>
    <li class="left_floor_jia">Home Appliance & Phone</li>
    <li class="left_floor_dian">Computer & Digital Product</li>
    <li class="left_floor_3C">Sport & Health</li>
    <li class="left_floor_ai">Food</li>
    <li class="left_floor_mu">Maternal & Child Product</li>
    <li class="left_floor_tu">Book & Car</li>
    <li class="left_floor_you">Game</li>
    <li class="left_floor_lv">Travel</li>
    <li class="left_floor_hai">Finance</li>
    <li class="left_floor_ding">Top</li>
</ul>
<header>
    <div class="head">
        <a href="/static/#"><img src="/static/index/img/img_01.png"/></a>
        <p>X</p>
    </div>
    <!--头部-->
    <div class="header_head">
        <div class="header_head_box">
            <a href="/static/#" class="img" style="position: relative">
                <img src="/static/index/img/logo.jpg"/>
                <div style="position: absolute; background-color: white; width: 150px; height: 60px; z-index: 100; top: 100px"></div>
            </a>
            <b class="header_head_p" style="width: 100px">
                <a href="/static/#">
                    <img src="/static/index/img/img_05.png" style="border-radius: 50%"/>
                    <span style="padding-left: 10px">Los Angeles</span>
                </a>
                <div class="header_head_p_cs">
                    <a href="/static/#" style="background: #C81623;color: #fff;">北京</a>
                    <a href="/static/#">上海</a>
                    <a href="/static/#">天津</a>
                    <a href="/static/#">重庆</a>
                    <a href="/static/#">河北</a>
                    <a href="/static/#">山西</a>
                    <a href="/static/#">河南</a>
                    <a href="/static/#">辽宁</a>
                    <a href="/static/#">吉林</a>
                    <a href="/static/#">黑龙江</a>
                    <a href="/static/#">内蒙古</a>
                    <a href="/static/#">江苏</a>
                    <a href="/static/#">山东</a>
                    <a href="/static/#">安徽</a>
                    <a href="/static/#">浙江</a>
                    <a href="/static/#">福建</a>
                    <a href="/static/#">湖北</a>
                    <a href="/static/#">湖南</a>
                    <a href="/static/#">广东</a>
                    <a href="/static/#">广西</a>
                    <a href="/static/#">江西</a>
                    <a href="/static/#">四川</a>
                    <a href="/static/#">海南</a>
                    <a href="/static/#">贵州</a>
                    <a href="/static/#">云南</a>
                    <a href="/static/#">西藏</a>
                    <a href="/static/#">陕西</a>
                    <a href="/static/#">甘肃</a>
                    <a href="/static/#">青海</a>
                    <a href="/static/#">宁夏</a>
                    <a href="/static/#">新疆</a>
                    <a href="/static/#">港澳</a>
                    <a href="/static/#">台湾</a>
                    <a href="/static/#">钓鱼岛</a>
                    <a href="/static/#">海外</a>
                </div>
            </b>
            <ul>
                <li>
                    <a th:if="${session.loginUser != null}" style="color: red">Welcome: [[${session.loginUser == null ? '' : session.loginUser.nickname}]]</a>
                    <a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/login.html" style="color: red">Hello, Sign in</a>
                </li>
                <li>
                    <a href="http://auth.gulimall.com/reg.html" class="li_2">Sign up for Free</a>
                </li>
                <span>|</span>
                <li>
                    <a href="http://order.gulimall.com/list.html" style="color: black">Orders</a>
                </li>
            </ul>
        </div>
    </div>
    <!--搜索导航-->
    <div class="header_sous">
        <div class="header_form">
            <input id="searchText" type="text" placeholder=""/>
            <span style="background: url('/static/index/img/img_12.png') 0 -1px;"></span>
            <a href="javascript:search();"><img src="/static/index/img/img_09.png"/></a>
        </div>
        <div class="header_ico">
            <div class="header_gw">
                <img src="/static/index/img/img_15.png"/>
                <span><a href="http://cart.gulimall.com/cart.html">Shopping Cart</a></span>
                <span>0</span>
            </div>
            <div class="header_ko">
                <p>There are no items in the shopping cart.</p>
            </div>
        </div>
        <div class="header_form_nav">
            <ul>
                <li>
                    <a href="/static/#" class="aaaaa">Membership</a>
                </li>
                <li>
                    <a href="/static/#">Face Mask</a>
                </li>
                <li>
                    <a href="/static/#">Bargain</a>
                </li>
                <li>
                    <a href="/static/#">Sell</a>
                </li>
                <li>
                    <a href="/static/#">New Products</a>
                </li>
                <li>
                    <a href="/static/#">Best Sellers</a>
                </li>
                <li>
                    <a href="/static/#">Coupons</a>
                </li>
                <li>
                    <a href="/static/#">Customer Service</a>
                </li>
            </ul>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/static/#">Promotion</a>
                </li>
                <li>
                    <a href="/static/#">Gift Card</a>
                </li>
                <li>
                    <a href="/static/#">Flash Sell</a>
                </li>
                <li>
                    <a href="/static/#">Auction</a>
                </li>
            </ul>
            <div class="spacer">|</div>
            <ul>
                <li>
                    <a href="/static/#">Fashion</a>
                </li>
                <li>
                    <a href="/static/#">Grocery</a>
                </li>
                <li>
                    <a href="/static/#">Fresh</a>
                </li>
                <li>
                    <a href="/static/#">Global Purchase</a>
                </li>
            </ul>
            <div class="spacer">|</div>
            <ul>
                <li>
                    <a href="/static/#">Finance</a>
                </li>
            </ul>
        </nav>
        <div class="right">
            <a href="/static/#"><img src="/static/index/img/img_21.png"/></a>
        </div>
    </div>
    <!--轮播主体内容-->
    <div class="header_main">
        <div class="header_banner">
            <div class="header_main_left">
                <ul>
                    <li th:each="category : ${categories}" style="height: 21.5px">
                        <a href="/static/#" class="header_main_left_a" th:attr="ctg-data=${category.catId}">
                            <b th:text="${category.name}">Computer & Phone</b>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header_main_center">
                <div class="swiper-container swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo.png"/></a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo3.png"/></a>
                        </div>

                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo6.png"/></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo7.png"/></a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="header_main_center_b">
                    <a href="/static/#"><img src="/static/index/img/5a13bf0bNe1606e58.jpg"/></a>
                    <a href="/static/#"><img src="/static/index/img/5a154759N5385d5d6.jpg"/></a>
                </div>
            </div>
            <div class="header_main_right">
                <div class="header_main_right_user">
                    <div class="user_info">
                        <div class="user_info_tou">
                            <a href="/static/#"><img class="" src="/static/index/img/touxiang.png"></a>
                        </div>
                        <div class="user_info_show">
                            <p class="">Hi, Welcome!</p>
                            <p>
                                <a href="/static/#" class="">Sign in</a>
                                <a href="/static/#" class="">Register</a>
                            </p>
                        </div>
                    </div>
                    <div class="user_info_hide">
                        <a href="/static/#">Benefit</a>
                        <a href="/static/#">PLUS</a>
                    </div>
                </div>
                <div class="header_main_right_new">
                    <div class="header_new">
                        <div class="header_new_t">
                            <p class="active">
                                <a href="/static/#">Sell</a>
                            </p>
                            <p>
                                <a href="/static/#">Ads</a>
                            </p>
                            <a href="/static/#">More</a>
                        </div>
                        <div class="header_new_connter">
                            <div class="header_new_connter_1">
                                <ul>
                                    <li>
                                        <a href="/static/#">National Paper Towel Battle</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">100$ off furniture and building materials over 299$</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">Technology refrigerator, 1000$ off when you place an order</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">KitchenAid Classic Multifunction Can Opener, Black 2, One Size</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header_new_connter_1" style="display: none;">
                                <ul>
                                    <li>
                                        <a href="/static/#">KitchenAid Classic Multifunction Can Opener, Black 2, One Size</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">Technology refrigerator, 1000$ off when you place an order</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">100$ off furniture and building materials over 299$</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">National Paper Towel Battle</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_main_right_ser">
                    <div class="ser_box">
                        <ul>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/huafei.png"/>
                                    <span>Bill</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/jipiao.png"/>
                                    <span>Ticket</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/jiudian.png"/>
                                    <span>Hotel</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/youxi.png"/>
                                    <span>Game</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/qiyegou.png"/>
                                    <span>Ball</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/jiayouka.png"/>
                                    <span>Card</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/dianyingpiao.png"/>
                                    <span>Movie</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/huochepiao.png" style="height:20px;"/>
                                    <span>Train</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/zhongchou.png"/>
                                    <span>Fund</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/licai.png" style="height:22px;"/>
                                    <span>Trip</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/lipinka.png" style="height:14px;"/>
                                    <span>Mask</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/baitiao.png" style="height:20px;"/>
                                    <span>PLUS</span>
                                </a>
                            </li>
                        </ul>
                        <div class="ser_box_aaa">
                            <div class="ser_box_aaa_one">
                                <div class="ser_box_aaa_nav">
                                    <ol>
                                        <li class="active">
                                            <a href="/static/#">Bill</a>
                                        </li>
                                        <li>
                                            <a href="/static/#">Card</a>
                                        </li>
                                        <li>
                                            <a href="/static/#">Fund</a>
                                        </li>
                                        <li>
                                            <a href="/static/#">Game</a>
                                        </li>
                                    </ol>
                                    <div class="ser_ol">
                                        <div class="ser_ol_li">
                                            <ul>
                                                <div class="guanbi">X</div>
                                                <a class="active">Card</a>
                                                <a>Flow</a>
                                                <a>Meal</a>
                                                <div class="ser_ol_div">
                                                    <p>Number <input type="text"/></p>
                                                    <p style="margin: 10px 0;">Dimen
                                                        <select name="">
                                                            <option value="">100$</option>
                                                            <option value="">20$</option>
                                                            <option value="">50$</option>
                                                            <option value="">10$</option>
                                                            <option value="">2$</option>
                                                        </select>
                                                        <span>98.0$-100.0$</span></p>
                                                </div>
                                                <button>Top-up</button>
                                                <p class="p">Promotion Activity</p>
                                            </ul>

                                        </div>
                                        <div class="ser_ol_li">
                                            <ul>
                                                <div class="guanbi">X</div>
                                                <a class="active">Ticket</a>
                                                <a>Train</a>
                                                <a>Promotion</a>
                                                <div class="ser_ol_div1">
                                                    <p>
                                                        <input type="radio" name="a" style="vertical-align:middle;"/>One-way
                                                        <input type="radio" name="a" style="vertical-align:middle;"/>Reture
                                                    </p>
                                                    <input type="text" placeholder="Start"/>
                                                    <input type="text" placeholder="Destination"/>
                                                    <input type="text" placeholder="Date"/>
                                                </div>
                                                <button>Flight Search</button>
                                                <span class="p">Sell Ticket</span>
                                            </ul>
                                        </div>
                                        <div class="ser_ol_li">
                                            <ul>
                                                <div class="guanbi">X</div>
                                                <a class="active" style="width: 50%;">Flight</a>
                                                <a style="width: 50%;">Promotion</a>
                                                <div class="ser_ol_div1">
                                                    <input type="text" placeholder="Start" style="margin-top: 10px;"/>
                                                    <input type="text" placeholder="Destination"/>
                                                    <input type="text" placeholder="Date"/>
                                                    <input type="text" placeholder="Hotel Landmark"/>
                                                </div>
                                                <button>Search Hotel</button>
                                                <span class="p">Hotel Book</span>
                                            </ul>
                                        </div>
                                        <div class="ser_ol_li">
                                            <ul>
                                                <div class="guanbi">X</div>
                                                <a class="active">Card</a>
                                                <a>Trip</a>
                                                <a>Game</a>
                                                <div class="ser_ol_div1">
                                                    <input type="text" placeholder="Game" style="margin-top: 15px;"/>
                                                    <br/>Dimen
                                                    <select name="" style="margin: 8px 0;">
                                                        <option value="">Dimen</option>
                                                        <option value="">Dimen</option>
                                                        <option value="">Dimen</option>
                                                    </select><span style="color: #C81623;"> 0.00$</span>
                                                    <p>
                                                        <input type="radio" name="a"
                                                               style="width: 15px;vertical-align:middle;"/>Top-up
                                                        <input type="radio" name="a"
                                                               style="width: 15px;vertical-align:middle;"/>Pwd
                                                    </p>
                                                </div>
                                                <button>Top-up</button>
                                                <span class="p">Sell</span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_banner1">
            <a href="/static/#" class="a">
                <img src="/static/index/img/5a1e5ce2N034ce344.png" class="aa"/>
            </a>
            <div class="header_banner1_div">
                <p>X</p>
            </div>
        </div>
    </div>
</header>
<div class="section_second">
    <!-- 第一层 -->
    <div class="section_second_header">
        <p class="section_second_header_img"></p>
        <div class="section_second_header_left">
            <p></p>
            <span class="">Promotion</span>
            <span>There is always a low price you can't imagine</span>
            <span>
        </span>
        </div>
        <div class="section_second_header_right">
            <p>Current Session</p>
            <span class="section_second_header_right_hours">00</span>
            <span class="section_second_header_right_mao">：</span>
            <span class="section_second_header_right_minutes">00</span>
            <span class="section_second_header_right_mao">：</span>
            <span class="section_second_header_right_second">00</span>
            <p>will finish</p>
        </div>
    </div>
    <div class="section_second_list">
        <div class="swiper-container swiper_section_second_list_left">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul id="seckillSkuContent">

                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul>
                        <li>
                            <img src="/static/index/img/section_second_list_img6.jpg" alt="">
                            <p>Apple iMac 21.5英寸一体机（2017新款四核Core i5 处理器/8GB内存/1TB/RP555显卡/4K屏 MNDY2CH/A） Apple iMac
                                21.5英寸一体机（2017新款四核Core i5 处理</p>
                            <span>¥9588.00</span><s>¥10288.00</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img7.jpg" alt="">
                            <p>中柏（Jumper）EZpad 4S Pro 10.6英寸二合一平板电脑（X5 z</p>
                            <span>¥848.00</span><s>¥899.00</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img8.jpg" alt="">
                            <p>飞利浦（PHILIPS）电动牙刷HX6761/03亮白型成人充电式声波震动牙刷粉色 飞利浦（PHILIPS）电动牙刷HX6761/03亮白型成人充电式声波
                            </p>
                            <span>¥379.00</span><s>¥698.00</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img9.jpg" alt="">
                            <p>美的(Midea) 258升 变频智能三门冰箱 一级能效 风冷无霜 中门</p>
                            <span>¥3088.00</span><s>¥3299.00</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img10.jpg" alt="">
                            <p>【第二件减50元】蒙羊 内蒙古羔羊羊肋排 2.4斤</p>
                            <span>¥99.90</span><s>¥199.00</s>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="swiper-button-prev second_list">
                <p></p>
            </div>
            <div class="swiper-button-next second_list">
                <p></p>
            </div>
        </div>
        <ul class="section_second_list_right">
            <li>
                <img src="/static/index/img/section_second_list_right_img.jpg" alt="">
            </li>
            <li>
                <img src="/static/index/img/section_second_list_right_img.png" alt="">
            </li>
            <div class="section_second_list_right_button">
                <p class="section_second_list_right_button_active"></p>
                <p></p>
            </div>
        </ul>
    </div>
</div>
<div class="headera">
    <!--关于我们-->
    <div class="guanyuwomen">
        <ul style="margin-left: 320px">
            <li>
                <a href="/static/item/##">About</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Contact</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Service</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Cooperation</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Help</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Center</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Mobile App</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Links</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Sales</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Communities</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Risks</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Privacy</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Guli</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">English Site</a>
            </li>
            <li>|</li>
            <li>
                <a href="/static/item/##">Chinese Site</a>
            </li>
        </ul>
    </div>
    <p class="p1">
        <a href="/static/item/##"> Copyright © 2020-2021 gulimall.com by zli78122</a>
    </p>
    <p class="p3" style="height: 50px">
<!--        <img src="/static/item/img/54b8871eNa9a7067e.png"/>-->
<!--        <img src="/static/item/img/54b8872dNe37a9860.png"/>-->
<!--        <img src="/static/item/img/54b8875fNad1e0c4c.png"/>-->
<!--        <img src="/static/item/img/5698dc03N23f2e3b8.jpg"/>-->
<!--        <img src="/static/item/img/5698dc16Nb2ab99df.jpg"/>-->
<!--        <img src="/static/item/img/56a89b8fNfbaade9a.jpg"/>-->
    </p>
</div>
</body>
<script type="text/javascript">
    function search() {
        var keyword = $("#searchText").val()
        window.location.href = "http://search.gulimall.com/list.html?keyword=" + keyword;
    }

    // 发送 Ajax请求 获取 当前时间正在参与秒杀的所有商品
    $.get("http://seckill.gulimall.com/currentSeckillSkus", function (res) {
        if (res.data.length > 0) {
            res.data.forEach(function (item) {
                $("<li style='cursor: pointer' onclick='to_href(" + item.skuId + ")'></li>")
                    .append($("<image style='width: 130px;height: 130px;' src='" + item.skuInfo.skuDefaultImg + "'/>"))
                    .append($("<p>" + item.skuInfo.skuTitle + "</p>"))
                    .append($("<span>" + item.seckillPrice + "&nbsp;</span>"))
                    .append($("<s>" + item.skuInfo.price + "</s>"))
                    .appendTo("#seckillSkuContent");
            })
        }
    });

    function to_href(skuId) {
        location.href = "http://item.gulimall.com/" + skuId + ".html";
    }
</script>
<script type="text/javascript" src="/static/index/js/text.js"></script>
<script type="text/javascript" src="/static/index/js/header.js"></script>
<script type="text/javascript" src="/static/index/js/secend.js"></script>
<script type="text/javascript" src="/static/index/js/zz.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script type="text/javascript" src="/static/index/js/left,top.js"></script>
<script type="text/javascript" src="/static/index/js/catalogLoader.js"></script>
</html>
